README.md
.git
.gitignore
.idea
.vscode
.DS_Store
Thumbs.db
Dockerfile
docker-compose.yml
.dockerignore
node_modules
npm-debug.log
yarn-error.log
yarn-debug.log
*.log
dist
.env
.env.*
!.env.example
.eslintcache